@using CreativeCoders.Core.Enums
@inherits CcButtonBase

<button @onclick="@Clicked" type="@ButtonType.ToText()" @attributes="@CustomAttributes" class="@Classes.ToString()" style="@Styles.ToString()">@ChildContent</button>