@page "/"
@using CreativeCoders.AspNetCore.Blazor.Components
@using BlazorWebAssemblySampleApp.ViewModels
@using System.Threading

<h1>Hello, world!</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

<div>
    <div class="btn-group">
        <input type="text" />
        <div class="dropdown-menu"></div>
    </div>

    <CcCustomButton class="btn-lg" Kind="@ButtonKind.Primary" ElementType="@ButtonElementType.Div">TestButtonContent</CcCustomButton>
    <CcCustomButton Kind="@ButtonKind.Primary" ElementType="@ButtonElementType.Button">TestButtonContent</CcCustomButton>
    <CcCustomButton Kind="@ButtonKind.Primary" ElementType="@ButtonElementType.Link">TestButtonContent</CcCustomButton>

    <CcCustomButton Kind="@ButtonKind.Success" ElementType="@ButtonElementType.Div">TestButtonContent</CcCustomButton>
    <CcCustomButton Kind="@ButtonKind.Success" ElementType="@ButtonElementType.Button">TestButtonContent</CcCustomButton>
    <CcCustomButton Kind="@ButtonKind.Success" ElementType="@ButtonElementType.Link">TestButtonContent</CcCustomButton>

    <CcCustomButton ElementType="@ButtonElementType.Div" IsOutlined="@IsOutlined">TestButtonContent</CcCustomButton>
    <CcCustomButton ElementType="@ButtonElementType.Button" IsOutlined="@IsOutlined">TestButtonContent</CcCustomButton>
    <CcCustomButton ElementType="@ButtonElementType.Link" IsOutlined="@IsOutlined">TestButtonContent</CcCustomButton>

    <CcCustomButton ElementType="@ButtonElementType.Link" IsOutlined="@IsOutlined" Clicked="@ButtonClicked">TestButtonContent</CcCustomButton>
</div>

<div>
    <CcLinkButton href="counter">Goto Counter</CcLinkButton>
</div>

Welcome to your new app.

<ItemsControl TItem="TestViewModel" ItemsSource="@ListItems">
    <ItemTemplate Context="item">
        <div>@(item.IntValue): @(item.Text)</div>
    </ItemTemplate>
</ItemsControl>

@code
{
    private Timer _timer;

    public BlazorObservableCollection<TestViewModel> ListItems { get; set; }
        = new BlazorObservableCollection<TestViewModel>
        {
            new TestViewModel{IntValue = 1, Text = "Hello"},
            new TestViewModel { IntValue = 2, Text = "World"},
            new TestViewModel{IntValue = 3, Text = "12345"}
        };

    public bool IsOutlined;

    public void ButtonClicked()
    {
        if (_timer == null)
        {
            _timer = new Timer(state => ListItems.Add(new TestViewModel {IntValue = Environment.TickCount, Text = Environment.TickCount.ToString()}));
            _timer.Change(500, 1000);
        }
        IsOutlined = !IsOutlined;
    }
}
