@page "/viewmodeltest"
@using BlazorWebAssemblySampleApp.ViewModels
@inject TestViewModel ViewModel

<h3>ViewModelTest</h3>

<ViewModelContainer TViewModel="TestViewModel" ViewModel="@ViewModel">
    
    <PropertyEditor @bind-EditorValue="@ViewModel.Text"></PropertyEditor>

    @*<EditForm Model="this">
        <input class="form-text" type="text" @bind-value="@ViewModel.Text" @bind-value:event="oninput" />
    </EditForm>*@

</ViewModelContainer>

<ViewModelContainer TViewModel="TestViewModel" ViewModel="@ViewModel">

    <PropertyEditor @bind-EditorValue="@ViewModel.Text"></PropertyEditor>

    @*<EditForm Model="this">
            <input class="form-text" type="text" @bind-value="@ViewModel.Text" @bind-value:event="oninput" />
        </EditForm>*@

</ViewModelContainer>

@code {

}
